<h1>Places#create</h1>
<p>Find me in app/views/places/create.html.erb</p>
<h1>Places</h1>
<ul>
  <% @places.each do |place| %>
    <li><%= link_to place.name, place_path(place) %></li>
  <% end %>
</ul>
<%= link_to "Add a new place", new_place_path %>